version: "3.7"
services:
   app:
      image: suphakrit/my-todoapp:latest
      ports:
         - 9000:3000
      environment:
         MYSQL_HOST: mysql
         MYSQL_USER: root
         MYSQL_PASSWORD: secret
         MYSQL_DB: todos
      depends_on:
         - mysql

   mysql:
       image: mysql:5.7
       platform: linux/x86_64
       volumes:
          - todo-mysql-data:/var/lib/mysql
       environment:
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: todos
volumes:
   todo-mysql-data:
